header .header, header .header .head_logo, header .header .head_phone_and_addres, nav, section.offer, section.offer .right .va-center, .element, .element .gray, .container-form .message {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

* {
  margin: 0;
  padding: 0;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  user-select: none; }

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Intro';
  background: #F4F8FA;
  background: -webkit-linear-gradient(left, #F4F8FA, #D0DFEE);
  background: -moz-linear-gradient(left, #F4F8FA, #D0DFEE);
  background: linear-gradient(to right, #F4F8FA, #D0DFEE); }

p {
  font-size: 19px;
  color: #222222; }

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #222222; }

h2 {
  font-size: 29px;
  line-height: 49px;
  color: #222222; }

button {
  border: none; }

header {
  width: 100%; }

section, nav {
  width: 82%;
  max-width: 1400px;
  margin: 0 auto; }

.vertical-line {
  height: 2px;
  width: 200px;
  margin: 60px auto;
  background: rgba(0, 0, 0, 0.15); }

header {
  margin: 0;
  padding: 10px 0; }
  header .header {
    justify-content: space-between;
    align-items: center;
    width: 92%;
    max-width: 1400px;
    margin: 0 auto 40px auto; }
    header .header .head_logo {
      align-items: center;
      font-size: 27px; }
    header .header .head_phone_and_addres {
      align-items: center;
      font-size: 20px; }
      header .header .head_phone_and_addres img {
        height: 25px;
        margin: 0 2px 0 20px;
        width: auto; }
  header img {
    height: 45px;
    width: auto; }

@media (max-width: 1024px) {
  header {
    padding: 20px 0; }
    header img {
      height: 60px; }
    header .header {
      flex-direction: column;
      width: 97%; }
  .header_logo {
    font-size: 60px; } }

@media (max-width: 530px) {
  .head_phone_and_addres {
    flex-direction: column; } }

.map_link {
  border-bottom: 1px dashed gray; }

.map_link:hover {
  cursor: pointer; }

img.map_link {
  border-bottom: none; }

nav {
  justify-content: space-between;
  height: 80px; }

section.offer {
  height: 440px; }
  section.offer .left {
    width: 43%; }
    section.offer .left img {
      height: 100%;
      width: auto; }
  section.offer .right {
    width: 57%; }
    section.offer .right h1 {
      margin: 7px 0 13px 0; }
    section.offer .right .va-center {
      font-size: 25px;
      vertical-align: center;
      margin: 25px 0 0 0; }
    section.offer .right span.phone {
      height: auto;
      margin: auto 0 auto 10px; }
    section.offer .right img {
      height: 63px;
      width: auto;
      margin: 0 0 0 10px;
      border-radius: 50%;
      -moz-box-shadow: -14px 26px 70px 1px rgba(58, 71, 232, 0.2);
      -webkit-box-shadow: -14px 26px 70px 1px rgba(58, 71, 232, 0.2);
      box-shadow: -14px 26px 70px 1px rgba(58, 71, 232, 0.2); }
    section.offer .right button {
      font-size: 17px;
      font-family: 'Intro';
      line-height: normal;
      display: inline-block;
      width: 247px;
      height: 63px;
      border-radius: 30px;
      background: #4A1AD6;
      background: -webkit-linear-gradient(bottom left, #4A1AD6, #448DF8);
      background: -moz-linear-gradient(bottom left, #4A1AD6, #448DF8);
      background: linear-gradient(bottom left, #4A1AD6, #448DF8);
      -moz-box-shadow: -14px 26px 70px 1px rgba(58, 71, 232, 0.2);
      -webkit-box-shadow: -14px 26px 70px 1px rgba(58, 71, 232, 0.2);
      box-shadow: -14px 26px 70px 1px rgba(58, 71, 232, 0.2);
      text-shadow: 0 2px rgba(0, 0, 0, 0.22);
      color: white; }

@media (max-width: 1024px) {
  section.offer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    align-items: center; }
    section.offer .left {
      margin-left: -27%;
      width: 50%; }
      section.offer .left img {
        width: 100%;
        height: auto; }
    section.offer .right {
      width: 72%; } }

@media (max-width: 1400px) {
  section.offer .left img {
    width: 100%;
    height: auto; } }

@media (max-width: 420px) {
  section.offer {
    align-items: flex-start; }
    section.offer .right {
      width: 73%; }
      section.offer .right h1 {
        font-size: 30px;
        line-height: 35px; }
      section.offer .right p {
        font-size: 16px; } }

@media (max-width: 408px) {
  section.offer .right p#test {
    width: 120%;
    margin: 0 0 0 -23%; }
  section.offer .right button {
    width: 120%;
    margin: 0 0 0 -23%; } }

h2.caps {
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-align: center;
  width: 65%;
  margin: 0 auto; }

@media (max-width: 1024px) {
  h2.caps {
    font-size: 20px;
    text-align: center;
    width: 93%; } }

@media (max-width: 600px) {
  h2.caps {
    font-size: 15px;
    line-height: 37px;
    text-align: center;
    width: 97%; } }

section.about_us {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 300px));
  justify-content: center;
  margin: 50px auto 0 auto;
  grid-gap: 20px; }
  section.about_us .elem {
    width: auto;
    text-align: center;
    padding: 30px;
    background: #fffafa;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #f5f5f5; }
    section.about_us .elem img {
      width: 100px;
      height: auto; }

@media (max-width: 1024px) {
  section.about_us {
    grid-template-columns: 1fr; }
    section.about_us .elem h3 {
      font-size: 21px; }
    section.about_us .elem img {
      width: 150px; } }

.what {
  text-align: center; }
  .what h3 {
    margin-bottom: 20px; }
  .what h4 {
    margin-bottom: 5px;
    text-align: left; }

.obj {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr); }

@media (max-width: 1300px) {
  .obj {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 700px) {
  .obj {
    grid-template-columns: 1fr; } }

.element {
  align-items: center;
  height: 200px;
  background: gray; }
  .element .gray {
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); }
    .element .gray h3 {
      margin: auto auto;
      color: white;
      text-decoration: uppercase; }

.element .gray:hover {
  background: rgba(0, 0, 0, 0.2); }

#phone {
  background: url("../img/bg-phone.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -45px -45px 0px -25px rgba(71, 92, 234, 0.4); }

#tv {
  background: url("../img/bg-tv.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#mac {
  background: url("../img/bg-mac2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#ipad {
  background: url("../img/bg-ipad.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 45px 45px 0px -25px rgba(0, 0, 0, 0.3); }

@media (max-width: 1300px) {
  #phone, #ipad {
    box-shadow: none; } }

.delivery {
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-gap: 0;
  align-items: center; }
  .delivery .vlg {
    text-align: center; }
    .delivery .vlg img {
      width: 100%;
      height: auto; }
  .delivery .text {
    text-align: right; }
  .delivery h3 {
    margin: 0 0 10px 0; }
  .delivery p {
    margin-bottom: 30px; }
  .delivery button {
    font-size: 17px;
    font-family: 'Intro';
    line-height: normal;
    display: inline-block;
    width: 247px;
    height: 63px;
    border-radius: 30px;
    background: #4A1AD6;
    background: -webkit-linear-gradient(bottom left, #4A1AD6, #448DF8);
    background: -moz-linear-gradient(bottom left, #4A1AD6, #448DF8);
    background: linear-gradient(bottom left, #4A1AD6, #448DF8);
    -moz-box-shadow: -14px 26px 70px 1px rgba(58, 71, 232, 0.2);
    -webkit-box-shadow: -14px 26px 70px 1px rgba(58, 71, 232, 0.2);
    box-shadow: -14px 26px 70px 1px rgba(58, 71, 232, 0.2);
    text-shadow: 0 2px rgba(0, 0, 0, 0.22);
    color: white; }

@media (max-width: 800px) {
  .delivery {
    grid-template-columns: 1fr; }
    .delivery .text {
      text-align: center;
      grid-row: 2; }
    .delivery .vlg img {
      width: 50%; }
    .delivery button {
      width: 100%; } }

@media (max-width: 700px) {
  .delivery .vlg img {
    width: 65%; } }

@media (max-width: 600px) {
  .delivery .vlg img {
    width: 80%; } }

@media (max-width: 500px) {
  .delivery .vlg img {
    width: 100%; } }

section.form {
  margin-top: 50px; }

.container-form {
  height: 500px;
  width: 80%;
  margin: 0 auto;
  padding: 35px 0 0 35px;
  box-shadow: 13px 11px 30px 0px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 4fr 7fr;
  background: white; }
  .container-form .data {
    font-size: 35px; }
    .container-form .data p {
      color: gray; }
    .container-form .data input {
      width: 90%;
      margin-bottom: 40px;
      padding-bottom: 5px;
      border: none;
      border-bottom: 1px solid lightgray; }
    .container-form .data .ver {
      height: 5px;
      width: 100px;
      margin: 20px 0 30px 0;
      background: #4A1AD6;
      background: -webkit-linear-gradient(bottom left, #4A1AD6, #448DF8);
      background: -moz-linear-gradient(bottom left, #4A1AD6, #448DF8);
      background: linear-gradient(bottom left, #4A1AD6, #448DF8); }
  .container-form .message {
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid lightgray; }
    .container-form .message .message-text {
      padding: 20px; }
      .container-form .message .message-text input {
        margin-top: 25px;
        border: none; }
      .container-form .message .message-text p {
        color: gray; }
    .container-form .message button {
      width: 100%;
      height: 50px;
      color: white;
      background: #4A1AD6;
      background: -webkit-linear-gradient(bottom left, #4A1AD6, #448DF8);
      background: -moz-linear-gradient(bottom left, #4A1AD6, #448DF8);
      background: linear-gradient(bottom left, #4A1AD6, #448DF8); }

#map {
  margin-top: 90px;
  width: 100%;
  height: 400px; }

footer {
  background: #3b3b3b; }

.footer_contact {
  text-align: center; }
  .footer_contact img {
    margin: 15px 10px;
    height: 40px;
    width: auto; }

.footer_content {
  min-height: 240px;
  border-top: 1px solid gray; }
